services:
  language-model:
    build: ./language-model
    image: ghcr.io/sookiemonster/allerfree-language-model:v1
    env_file:
      - .env.language-model

    expose:
      - "8000"

    networks:
      - internal

  server-api:
    build: ./server
    image: ghcr.io/sookiemonster/allerfree-server:v1
    environment:
      - MODEL_URL=http://language-model:8000

    networks:
      - internal

    depends_on: language-model

networks:
  internal:
