services:
  language-model:
    build:
      context: ./language-model
    image: ghcr.io/sookiemonster/allerfree-language-model:deployment
    env_file:
      - .env.model

    volumes:
      - ./language-model/gcp-credentials.json:/app/secrets/gcp-credentials.json:ro

    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/app/secrets/gcp-credentials.json

    expose:
      - "8000"

    networks:
      - internal

  server:
    build:
      context: ./server
    image: ghcr.io/sookiemonster/allerfree-server:deployment
    environment:
      - MODEL_URL=http://language-model:8000

    ports:
      - "8081:8081"

    networks:
      - internal

    depends_on:
      - language-model

networks:
  internal:
