name: "Backend CI"
on:
  push:
    branches:
      - main
      - ci

jobs:
  build-model-image:
    name: Build/Push Language Model Image
    environment: ${{ github.ref_name == 'main' && 'production' || 'dev' }}
    concurrency: ${{ github.ref_name == 'main' && 'production' || 'dev' }}
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    outputs:
      digest: ${{ steps.build_and_push.outputs.digest }}

    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Extract .pyproject version
        id: get_version
        uses: sravinet/toml-select@v1.0.1
        with:
          file: "./language-model/pyproject.toml"
          field: "project.version"

      - name: Display Project Version
        run: echo ${{ steps.get_version.outputs.value }}

      - name: Generate Docker Tag Metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository_owner }}/language-model
          labels: |
            org.opencontainers.image.title=Language-Model-Service
            org.opencontainers.image.description=The FastAPI service responsible for menu reading & allergen detection.
            org.opencontainers.image.vendor=Allerfree
          tags: |
            # Tag w/ sem version & timestamp if snapshot is present
            type=semver,pattern={{version}}-{{date.YYYYMMDDHHMMSS}},value=${{ steps.get_version.outputs.value }}, enable=${{ contains(steps.get_version.outputs.value, 'SNAPSHOT') }}

            # Tag w/ version if snapshot not present
            type=semver,pattern={{version}}, value=${{ steps.get_version.outputs.value }}, enable=${{ !contains(steps.get_version.outputs.value, 'SNAPSHOT') }}

            # Tag w/ branch name
            type=ref,event=branch

            # Always tag with commit SHA
            type=sha

      - name: Build and Push Docker Image
        id: build_and_push
        uses: docker/build-push-action@v6
        with:
          context: ./language-model
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
