name: "Backend CI/CD"
on:
  push:
    branches:
      - master
      - deployment

jobs:
  build-model-image:
    name: Build/Push Language Model Image
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    outputs:
      digest: ${{ steps.build_and_push.outputs.digest }}

    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Extract .pyproject version
        id: get_version
        uses: sravinet/toml-select@v1.0.1
        with:
          file: "./language-model/pyproject.toml"
          field: "project.version"

      - name: Display Project Version
        run: echo ${{ steps.get_version.outputs.value }}

      - name: Generate Docker Tag Metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository_owner }}/allerfree-language-model
          labels: |
            org.opencontainers.image.title=Language-Model-Service
            org.opencontainers.image.description=The FastAPI service responsible for menu reading & allergen detection.
            org.opencontainers.image.vendor=Allerfree
          tags: |
            # Tag w/ sem version & timestamp if snapshot is present
            type=semver,pattern={{version}}-{{date.YYYYMMDDHHMMSS}},value=${{ steps.get_version.outputs.value }}, enable=${{ contains(steps.get_version.outputs.value, 'SNAPSHOT') }}

            # Tag w/ version if snapshot not present
            type=semver,pattern={{version}}, value=${{ steps.get_version.outputs.value }}, enable=${{ !contains(steps.get_version.outputs.value, 'SNAPSHOT') }}

            # Tag w/ branch name
            type=ref,event=branch

            # Always tag with commit SHA
            type=sha

      - name: Build and Push Docker Image
        id: build_and_push
        uses: docker/build-push-action@v6
        with:
          context: ./language-model
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  build-server-image:
    name: Build/Push Springboot Server Image
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    outputs:
      digest: ${{ steps.build_and_push.outputs.digest }}

    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup yq
        uses: dcarbone/install-yq-action@v1.1.1

      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Extract Version (Fast/No-Maven)
        id: get_version
        run: |
          VERSION=$(yq -p xml '.project.version' ./server/pom.xml)
          echo "value=$VERSION" >> $GITHUB_OUTPUT

      - name: Display Project Version
        run: echo ${{ steps.get_version.outputs.value }}

      - name: Generate Docker Tag Metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository_owner }}/allerfree-server
          labels: |
            org.opencontainers.image.title=SpringBoot-Server
            org.opencontainers.image.description=The Spring service responsible for mediating between the front-end & other microservices.
            org.opencontainers.image.vendor=Allerfree
          tags: |
            # Tag w/ sem version & timestamp if snapshot is present
            type=semver,pattern={{version}}-{{date.YYYYMMDDHHMMSS}},value=${{ steps.get_version.outputs.value }}, enable=${{ contains(steps.get_version.outputs.value, 'SNAPSHOT') }}

            # Tag w/ version if snapshot not present
            type=semver,pattern={{version}}, value=${{ steps.get_version.outputs.value }}, enable=${{ !contains(steps.get_version.outputs.value, 'SNAPSHOT') }}

            # Tag w/ branch name
            type=ref,event=branch

            # Always tag with commit SHA
            type=sha

      - name: Build and Push Docker Image
        id: build_and_push
        uses: docker/build-push-action@v6
        with:
          context: ./server
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  deploy:
    name: Deploy to Server

    environment: ${{ github.ref_name == 'master' && 'production' || 'dev' }}
    concurrency: ${{ github.ref_name == 'master' && 'production' || 'dev' }}

    needs:
      - build-model-image
      - build-server-image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Copy Docker Compose File
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "docker-compose.yml"
          target: "~/allerfree/deploy"

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_USER: ${{ github.actor }}
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          envs: GH_TOKEN,GH_USER
          script: |
            # 1. Navigate to project folder
            cd ~/allerfree/deploy

            # 2. Pull the latest images
            docker compose pull

            # 3. Restart updated containers
            docker compose up -d --remove-orphans

            # 4. Prune old images to save disk space
            docker image prune -f
